DJANGO_DEBUG=1
DJANGO_SECRET_KEY=django-insecure-change-this-in-development
POSTGRES_USER=tfg_user
POSTGRES_PASSWORD=tfg_password
POSTGRES_DB=tfg_educativo
PGADMIN_EMAIL=admin@example.com
PGADMIN_PASSWORD=admin_password